@media screen and (max-width: 800px){
    .buttons__redes{
        margin-bottom: 100px;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            li{
                margin: 30px;
            }
        }

    }
}

@media (max-width: 720px){
    .tarjetas{
        flex-wrap: wrap;
    }   
    .card{
        margin-bottom: 50px;
    }
    #botones{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}


.formaTrabajo img{display:none;
                    width: 100%;}
.formaTrabajo .width1{display:block;}
@media (max-width:600px){
    .formaTrabajo .width2{display:block;
                            width: 100%;}
    .formaTrabajo .width1{display:none;}
}
@media (max-width:400px){
    .formaTrabajo .width3{display:block;
                        width: 100%;}
    .formaTrabajo .width2{display:none;}
}